/* Navbar */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.color1 {color: #120907;}
.color2 {color: #12203a;}
.color3 {color: #155d8f;}
.color4 {color: #2099d8;}
.color5 {color: #20d2d8;}
body {
    background: linear-gradient(to right, #20d2d8, #155d8f);
}

.bienvenido {
    color: rgb(93, 163, 255);
}
/*Popup sesion*/
.popup3 {
  display: none;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Estilo para el contenido de la ventana emergente */
.popup-content3 {
  background-color: #111011;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  box-shadow: 0px 0px 10px 0px rgba(133, 242, 248, 0.509);
  border-radius: 10px;
}

.close3 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup-content3 center h1 {
  font-size: 20px;
  color: #155d8f;
}

.popup-content3 button {
  background-color: rgb(46, 181, 226);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding:10px 20px;
}

.popup-content3 button a {
  color: white;
  text-decoration: none;
  padding:10px 20px;
}

.popup-content3 button a img {
  width: 320px;
  height: 350px;
  border-radius: 5px;
}
.userlabel{
    color:#2099d8;
  }
.userlabel:hover{
  color:#155d8f;
}

.header {
    background-color: #120907;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    padding: 5px 15%;
    margin-bottom: 20px;
}

.header .logo {
    cursor: default;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav {
    transition: 0.3s;
    list-style: none;
}

.header .nav li {
    transition: 0.3s;
    display: inline-block;
    padding: 0 20px;
    color: #00ddff;
}

.header .nav li:hover {
    transform: scale(1.1);
    color: rgb(1, 16, 21);
    text-decoration: underline #00ddff;
}
.header .nav li:hover label{
    transform: scale(1.1);
    text-decoration: underline #00ffff;
}

.header .nav a {
    font-size: 20px;
    color: #00ddff;
    text-decoration: none;
}

.header .nav .btn-c button,
.header button {
    font-weight: 200;
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
}

.header .nav .btn-c button {
    background-color: #155d8f;
}

.header button {
    background-color: #155d8f;
}

.header .btn {
    margin-left: auto;
}

.header button:hover {
    color: aliceblue;
    transform: scale(1.1);
}

/* Submenu */
.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.436);
    background-color: #000000d4;
}

.nav li:hover ul {
    display: block;
}



/* Carrusel */


.carrusel {
    background-image: linear-gradient(to right,#ffffff2f, #0000002d, #5708b16f);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    

}
.txtc{
    flex: 1;
    font-size: 30px;
    color: #000000;
    margin-right: 50px;
}

.carousel-container {
    background-color: rgba(0, 0, 0, 0.292);
    position: relative;
    width:50vw;
    max-width:600px;
    height: auto; 
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel {
    display: flex;
    transition: transform 1s ease;
}

.carousel-image {
    min-width: 100%;
    height: auto; /* Ajustado la altura automáticamente */
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.311);
    color: rgb(0, 89, 255);
    font: bold;
    border: none;
    padding: 6px; /* Reducido el tamaño del padding */
    cursor: pointer;
    font-size: 14px; /* Reducido el tamaño de la fuente */
    border-radius: 50%;
    user-select: none;
    z-index: 10;
}

.prev {
    left: 6px; /* Reducido el espacio a la izquierda */
}

.next {
    right: 6px; /* Reducido el espacio a la derecha */
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Media queries para hacer el carrusel aún más pequeño */
@media only screen and (max-width: 480px) {
    .carousel-container {
        max-width: 90%; /* Reducir aún más el tamaño del contenedor en pantallas más pequeñas */
    }

    .prev,
    .next {
        padding: 4px; /* Reducido aún más el tamaño del padding */
        font-size: 12px; /* Reducido aún más el tamaño de la fuente */
    }

    .prev {
        left: 4px; /* Reducido aún más el espacio a la izquierda */
    }

    .next {
        right: 4px; /* Reducido aún más el espacio a la derecha */
    }
}




/* Productos */
.catego{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
    width: 70vw;
}
.xx{
    width: calc(25% - 20px); 
    margin: 10px;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(45deg, rgb(78, 190, 250), rgb(4, 35, 146));
    padding: 10px;
    transition: 0.2s;
}
.xx .imagen-cat {
    min-height:30px;
    max-height:90px;
    min-width:30px;
    max-width: 90px;
}
.rawr{
    text-decoration: none;
}
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
    width: 70vw;
}

.ss {
    width: calc(25% - 20px); 
    margin: 10px;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(45deg, rgb(78, 190, 250), rgb(4, 35, 146));
    padding: 10px;
    transition: 0.2s;
}

@media screen and (max-width: 1200px) {
    .ss {
        width: calc(25% - 20px); 
    }
}

@media screen and (max-width: 992px) {
    .ss {
        width: calc(33.3333% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .ss {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 576px) {
    .ss {
        width: calc(100% - 20px);
    }
}


.ss:hover {
    background-image: linear-gradient(rgba(48, 24, 70, 0.511), #7700ffac,#0a0028ef);
    transform: scale(1.05);
}

.ss .imagen-p {
    min-height:40px;
    max-height:90px;
}

.ss .desc {
    font-size: 12px;
}

.ss .boton-cart {
    bottom:10px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 10px;
    transition: 0.3s;
}

.ss .boton-cart:hover {
    color: #8aceff;
    background-color:black;
}

.ss .id-p {
    display: none;
}

.ss .nombre-p {
    color: rgb(255, 255, 255);
}

.ss .desc {
    color:white;
}

.ss .precio-p {
    color: #2ff5ff;
}

.boton-popup label {
    transition: all 300ms ease;
    font-size: 20px;
    color: #00a873;
    cursor: pointer;
  }
  
  #btn-popup {
    display: none;
  }
  
  .popup-contr {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(#ab57ff22, #6a00ff2b,#26005b2c);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  #btn-popup:checked ~ .popup-contr {
    display: flex;
  }
  
  .popup-cont {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color:#111011;
    border-radius: 6px;
    box-shadow: 0px 0px 8px 0px rgb(152, 57, 255);
    z-index: 1000;
  }
  
  .popup-cont h3 {
    margin-bottom: 15px;
    color: rgb(46, 181, 226);
  }
  
  .popup-cont p {
    padding: 15px 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    font-size: 20px;
  }
  
  .popup-cont .close {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
  }
  
  .popup-cont .close label {
    padding: 7px 10px;
    background-color: rgb(46, 181, 226);
    color: white;
    border-radius: 4px;
    transition: all 300ms ease;
  }
  
  .close-popup {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    cursor: pointer;
  }
  
  .popup {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .popup-content {
    background-color: #111011;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    box-shadow: 0px 0px 8px 0px rgb(132, 0, 255);
  }
  
  .popup-content .close {
    color: rgb(46, 181, 226);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .popup-content .close:hover, .popup-content .close:focus {
    color: rgb(160, 83, 222);
    text-decoration: none;
    cursor: pointer;
  }
  
  .popup-content button {
   border:none;
  }
p {
    color:#ab8aff;
   }

  .yo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url('img/yo.png.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 10px;
}



/* Footer */
label{
    cursor: pointer;
}
.pie-pagina {
    margin-top: 20px;
    background-color: #111011;
    bottom: 0px;
    width: 100%;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #155d8f;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #00ddff;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #74d3ff;
    margin-right: 10px;
    background-color: #111011;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: #ffffff;
}

.pie-pagina .grupo-2 {
    background-color: #111011;
    padding: 15px 10px;
    text-align: center;
    color: #e2f1f8;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width: 800px) {
    .header {
        padding: 5px 10%;
    }

    .header .nav li {
        padding: 0 10px;
    }

    .header .logo img {
        height: 50px;
    }

    .header .nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #111011;
        text-align: center;
    }

    .header .nav li {
        display: block;
        padding: 10px 0;
    }

    .header .nav li:hover {
        background-color: #1e1e1e;
    }

    .header .btn {
        margin: 10px 0;
    }

    .header .nav .btn-c button {
        display: block;
        margin: 0 auto;
    }

    .nav li ul {
        position: static;
        display: block;
        box-shadow: none;
        background-color: transparent;
    }
}

/* Footer */
@media screen and (max-width: 768px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}